html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font: inherit;
  vertical-align: baseline;
}

.content{
  background: #EFE9E7;
}

@media(max-width: 414px) {
  .content{
    background: #EFE9E7;
  }
  
}

.content-title {
  font-family:微軟正黑體;
  text-align:center;
  margin:0 auto;
  }


  @media (max-width: 414px){
    .footer {
      width:100%;
    }
  }

  .title{
    height: 56px;
    background: rgba(0,0,0,0,76);
  }
  
  .login-form {
    max-width: 30%;
    margin: 20px auto;
    color: #3D1101;
    font-size: 16px;
    background: #EFE9E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-color:#C4B2BC;
    border-top: 3px solid #C4B2BC;
    padding: 20px;
  }

  .login-form legend {
    font-family: NotoSansCJKtc-Black;
    font-size: 18px;
    color: #3D1101;
    font-weight:bold;
    text-align: center;
  }

  .login-form label,input {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
  
  .login-form span {
    font-family: '-apple-system,BlinkMacSystemFont',"Segoe UI",'Roboto', 'Helvetica', 'Arial','sans-serif';
    font-size: 14px;
    color: #A4948D;
    margin: 10px 0;
  }
  
  .login-form button {
    width: 46%;
    margin:0px 1%;
  }

  .pure-button  {
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    width: 125px;
    height: 32px;
  }
  

.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}


.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}


.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-button-primary {
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  background: #A4948D;
  border-radius: 3px;
  width: 125px;
  height: 32px;
}

.email {

  width: 200px;
  height: 40px;
}