html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font: inherit;
  vertical-align: baseline;
}

.content{
  background: #EFE9E7;
}

@media(max-width: 414px) {
  .content{
    background: #EFE9E7;
  }
  
}

.content-title {
  font-family:微軟正黑體;
  text-align:center;
  margin:0 auto;
  }


*{
    font-family:微軟正黑體;  
  }
  
  body{
    background-color: #c4b2bc;
  }
  
  /*註冊頁面的填寫區*/
  #username, #password, #fullname, #comfirm_password,#username2, #password2, #content{
    width: 300px;
    height: 30px;
    margin: 10px auto;
    color: #a29587; 
    position:relative;   
  }
  /*編輯個人檔案字區*/
  #content{
    width: 300px;
    height: 60px;
    color: rgba(0, 0, 0, 0.5); 
    margin: 10px auto;
    position:relative; 
  }

  /*註冊/登入頁面的提交按鈕*/
  #sub{
    text-align:center;  
    position:relative;   
    margin:0 auto; 
  }
   /*註冊/登入頁面的title*/
  h3{
    margin: 20px;
    color: #a29587;
  }
  /*登入頁註冊與忘記密碼*/
  h5{
    margin: 20px;
    color: #a3a2a3;
  }
  h5:hover{
    color: black;
  }
  
  /*註冊/登入頁整體*/
  #container1{
    margin: 50px;
    padding: 10px;
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    text-align:center;  
    position:relative;   
    margin:0 auto;
    top: 10px;
  }
  
  .system_name{
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
  }
  
  .submit{
    color: white;  
    background: #c4b2bc;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
  }
  
  .submit:hover{
    background: #551a3e;
  }
  
  #container2{
    visibility: hidden; /*剛開始消失*/
    height: 350px;
  }
  
  input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
  }
  .logo{
    width: 645px;
    height: 163px;
    display:block; 
    margin:auto;
  }

@font-face {
    font-family: Freight-sans;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2053557/Freight%20Sans%20Medium.otf');
}
body, button {
    font-family: Freight-sans, sans-serif;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
button {
    border: 0;
    outline: 0;
    background: transparent;
}
a {
    text-decoration: none;
}
/*個人檔案整體*/
.container {
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 90%;
}
/*個人檔案top bar*/
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 15px;
}
.top-bar__title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.top-bar__title__text {
    font-size: 18px;

}
.top-bar__title__verified-icon {
    margin-left: 4px;
    width: 15px;
    height: 14px;
}
/*個人檔案的頭貼,貼文追蹤等格式*/
.stats {
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}
/*個人檔案的頭貼格式*/
.stats__img-holder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    background: center / 150% no-repeat;
}
/*個人檔案的頭貼,貼文追蹤等格式*/
.stats__data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/*個人檔案的頭貼,貼文追蹤等文字*/
.stats__data__point {
    font-family: sans-serif;
}
/*個人檔案的頭貼,貼文追蹤等文字*/
.stats__data__point__value {
    font-size: 25px;
    font-weight: 600;
}
/*個人檔案的頭貼,貼文追蹤等文字*/
.stats__data__point__description {
    font-weight: 300;
    font-size: 25px;
    margin-top: 2px;
}
/*個人檔案的姓名及敘述*/
.description {
    padding: 0 15px;
}
/*個人檔案的姓名及敘述*/
.description h1 {
    font-size: 32px;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}
.description p {
    margin-top: 10px;
    color: #444;
    font-size: 23px;
}
.description a {
    margin-top: 2px;
    color: #0d3a6b;
}
/*個人檔案的修改按鈕*/
.actions {
    padding: 0 15px;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    grid-column-gap: 6px;
}
/*個人檔案的修改按鈕*/
.actions__btn {
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #9b6e87;
    color: white; 
    height: 43px;
    display: block;
    width: 100%;
}
.actions__btn--icon {
    display: flex;
}
.actions__btn--icon i {
    margin: auto;
    font-size: 16px;
}
.actions__btn--active {
    background: #fcf7b4;
    color: Black;
    border-radius: 4px;
}
.stories {
    margin-top: 14px;
    padding: 0 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-width: none;
   /* Firefox */
    -ms-overflow-style: none;
   /* Internet Explorer 10+ */
}
.stories::-webkit-scrollbar {
   /* WebKit */
    width: 0;
    height: 0;
}
.stories__single {
    display: inline-block;
}
.stories__single__img-holder {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    padding: 3px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-right: 12px;
}
.stories__single__img-holder__inner {
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    width: 60px;
    height: 60px;
    background: center / cover no-repeat;
}
.stories__single__description {
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
    color: #444;
}
/*個人檔案切換欄*/
.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #d8d8d8;
    margin-top: 20px;
    background-color:rgb(231, 230, 230);
}
/*個人檔案top bar*/
.tabs__btn {
    display: flex;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}
/*個人檔案top bar的箭頭*/
.tabs__btn__icon {
    margin: auto;
    max-width: 40px;
}
/*個人檔案切換欄顯示現在在哪的槓槓*/
.tabs__btn--active {
    border-bottom: 3px solid #9b6e87;
}
/*個人檔案圖片九宮格*/
.grid {
    display: grid;
    grid-template-columns: repeat(31fr);
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 1px;
}
/*個人檔案圖片九宮格*/
.grid__photo {
    display: block;
    width: 100%;
    height: calc(800px / 3);
    background: center / cover no-repeat;
}
/*個人檔案的bottom bar*/
.bottom-bar {
    width:100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*個人檔案的bottom bar*/
.bottom-bar__btn__icon {
    width: 40px;
    text-align: center;
}
/*個人檔案的錢包錢錢*/
.money {
    margin: auto;
    max-width: 20px;
}
.bottom-bar__btn__icon1 {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

  @media (max-width: 414px){
    .footer {
      width:100%;
    }
  }

  .title{
    height: 56px;
    background: rgba(0,0,0,0,76);
  }
  
  .login-form {
    max-width: 30%;
    margin: 20px auto;
    color: #3D1101;
    font-size: 16px;
    background: #EFE9E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-color:#C4B2BC;
    border-top: 3px solid #C4B2BC;
    padding: 20px;
  }

  .login-form legend {
    font-family: NotoSansCJKtc-Black;
    font-size: 18px;
    color: #3D1101;
    font-weight:bold;
    text-align: center;
  }

  .login-form label,input {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
  
  .login-form span {
    font-family: '-apple-system,BlinkMacSystemFont',"Segoe UI",'Roboto', 'Helvetica', 'Arial','sans-serif';
    font-size: 14px;
    color: #A4948D;
    margin: 10px 0;
  }
  
  .login-form button {
    width: 46%;
    margin:0px 1%;
  }

  .pure-button  {
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    width: 125px;
    height: 32px;
  }
  

.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}


.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}


.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-button-primary {
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  background: #A4948D;
  border-radius: 3px;
  width: 125px;
  height: 32px;
}

.email {

  width: 200px;
  height: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@media (min-width: 375px) {
    p {
      font-size: 20px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

.body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: '-apple-system,BlinkMacSystemFont',"Segoe UI",'Roboto', 'Helvetica', 'Arial','sans-serif';
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 80%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 70%;
    margin-top: 5px;
    float: left;
}

.search-box{
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 px;
    display: inline-block;
}

.iconbar{
    height: 100%;
    cursor: pointer;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    background-image: url(static/img/profile-pic.png);
    background-size: cover;
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 85%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5)
}

.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}
/*個人檔案的姓名及敘述*/
.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}
/*個人檔案的bottom bar*/
.bottom-bar {
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    background:#F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*個人檔案的bottom bar*/
.bottom-bar__btn__icon {
    width: 40px;
    text-align: center;

}
/*個人檔案的bottom bar的個人檔案頭貼*/
.bottom-bar__btn__icon1 {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

/*設定個人資料頭像ㄋ*/
.img-holder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    background: center / 150% no-repeat;
    display:block; 
    margin:auto;
}

/*錢包設定的bottom bar*/
.bottom-bar1 {
    width:100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #a29587;
}

/*錢包設定的卡片*/
#container3{
    margin: 50px;
    padding: 10px;
    width: 70%;
    height: 250px;
    border-radius: 10px;
    background-color: #a29587;
    text-align:center;  
    position:relative;   
    margin:0 auto;
    top: 10px;
    bottom: 20px;
  }

  /*錢包設定的卡片*/
  #container1_5{
    margin: 50px;
    padding: 10px;
    width: 80%;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    text-align:center;  
    position:relative;   
    margin:0 auto;
    top: 10px;
    bottom: 20px;
  }

  .trash{
    width: 40px;
    float: right;
  }

  .cardtext{
    padding: 15px;
    text-align:left;
    font-size: 25px;
    color: white;
  }

  .cardID{
    text-align:center;
  }
  