{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buy cart</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container"> 
            <section class="top-bar">
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/back.svg' %}" alt="arrow_back_ios"> 
                </button> 
            </section>

            <div id="container1">  
                <font size="5"><h3>購物車</h3></font> 

                <div id="container4">
                    <input type="checkbox" class="box">
                    <img src="{% static 'images/trash.png' %}" class="trash" alt="trash icon">
                    <div class="cardtext">  
                        <img class="grid__photo1" src="{% static 'images/11.jpeg' %}">  <!-- 要做成隨著載具大小改變的東東 --> 
                    <br>
                    <font size="3" >雪紡簍空氣質白上衣</font>
                    <br>
                    <font size="3" color="white">399$</font>
                    </div>

                    
                <div class="bottom-bar2">
                    <font size="5">共xxx元 馬上結帳</font> 
                </div>
                </div>

            </div>
        </div>
    </body>
</html> 