{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buy cart</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
            <section class="top-bar">
                <a class="tabs__btn" href="{% url 'secondhand' %}">
                    <img class="tabs__btn__icon" src="{% static 'images/icon-svg/angle-left.svg' %}" alt="arrow_back_ios"> <!-- 回二手版 -->
                </a>
            </section>

            <div id="setting_container">
                <font size="5"><h3>購物車</h3></font>

                <div id="cartbar">
                    <input type="checkbox" class="box">
                    <br> jennysshoppppp
                    <br>
                    <div id="container4">
                        <div class="cardtext">
                            <input type="checkbox" class="box">
                            <img src="{% static 'images/trash.png' %}" class="trash" alt="trash icon">
                            <img class="grid__photo1" src="{% static 'images/11.jpeg' %}">  <!-- 要做成隨著載具大小改變的東東 -->

                                <font size="3" >雪紡簍空氣質白上衣</font>
                                <br>
                                <font size="3" color="white">399$</font>
                        </div>
                    </div>
                    <div class="bottom-bar2">
                        <font size="5">共xxx元 馬上結帳</font>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
