<!doctype html>
<html lang="en">
    <head>
        <title>Camera App</title> 
    </head>
    <body>
        <!-- <main id="camera"> -->
            <!-- <video id="camera--view" autoplay playsinline></video> -->
            <!-- <canvas id="camera--sensor"></canvas> -->
            <!-- <img src="//:0" alt="" id="camera--output"> -->
            <!-- <button id="camera--trigger">Take a picture</button> -->
        <!-- </main> -->
        
        <input type="file" accept="image/*" capture="camera">
    </body>
</html>