{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add to My Closet</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <style>
            div.loadingdiv {
                height: 100%;
                width: 100%;
                position: fixed;
                z-index: 99999;
                top: 0;
                left: 0;
                display: block;
                background: #000;
                opacity: 0.6;
                text-align: center;
            }

            div.loadingdiv img {
                position: relative;
                vertical-align: middle;
                text-align: center;
                margin: 0 auto;
                margin-top: 50vh;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <section class="top-bar">
                <button class="tabs__btn">
                <a href="{% url 'clothe' closetPk=user.id %}">
                    <img class="tabs__btn__icon" src="{% static 'images/icon-svg/angle-left.svg' %}" alt="arrow_back_ios">
                </a>
                </button>
            </section>


            <div id="container_background">
                <div class="loadingdiv" style="display: none">
                    <img src="{% static 'images/loading.gif' %}" />
                </div>
                    <font size="5"><h3>新增衣物</h3></font>
                    <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                        <div class="aui-info">
                            <img src="{% static 'images/icon-svg/clothes.svg' %}" style="width: 7rem" />
                        </div>
                        <section>
                            <input type="file" name="image" accept="image/*" class="images_btn"/>
                        </section>

                        <input name="new_image" type="hidden" value="True"/>
                    </form>

                    <form action="" method="post">{% csrf_token %}
                        <select name="type" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                            <option value>種類</option>
                            {% for type in types %}
                                <option value="{{ type.id }}" {% if type.id == object.type.id %}selected="selected"{% endif %}>
                                    {{ type.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>

                        <select name="color" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                            <option value>主色彩</option>
                            {% for color in colors %}
                                <option value="{{ color.id }}" {% if color.id == object.color.first.id %}selected="selected"{% endif %}>
                                    {{ color.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>

                        <select name="style" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                            <option value>風格</option>
                            {% for style in styles %}
                                <option value="{{ style.id }}" {% if style.id == object.style.first.id %}selected="selected"{% endif %}>
                                    {{ style.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>

                        <select name="company" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                            <option value>品牌</option>
                            {% for company in companies %}
                                <option value="{{ company.id }}" {% if object.company.id == company.id %}selected="selected"{% endif %}>
                                    {{ company.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>

                        <select name="isFormal" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                            <option value>正式度</option>
                            <option value="False" {% if not object.isFormal %}selected="selected"{% endif %}>休閒</option>
                            <option value="True" {% if object.isFormal %}selected="selected"{% endif %}>正式</option>
                        </select>
                        <br>

                        <!--
                        <select name="shoeStyle" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                                <option>鞋子風格</option>
                                <option>運動</option>
                                <option>休閒</option>
                                <option>跟鞋</option>
                                <option>學院</option>
                                <option>百搭(預設)</option>
                                <option>其他</option>
                        </select>
                        </br> -->

                        <div id="containerWeather">
                            <label>適合溫度</label>
                            <br>
                            <br>
                            <label><input type="radio" name="warmness" value="1" {% if object.warmness == 1 %}checked{% endif %}>🥶</label>
                            <text style="color:white">ab</style>
                            <label><input type="radio" name="warmness" value="2" {% if object.warmness == 2 %}checked{% endif %}>😰</label>
                            <text style="color:white">ab</style>
                            <label><input type="radio" name="warmness" value="3" {% if object.warmness == 3 %}checked{% endif %}>😀</label>
                            <text style="color:white">ab</style>
                            <label><input type="radio" name="warmness" value="4" {% if object.warmness == 4 %}checked{% endif %}>😡</label>
                            <text style="color:white">ab</style>
                            <label><input type="radio" name="warmness" value="5" {% if object.warmness == 5 %}checked{% endif %}>🥵</label>
                            </br>
                        </div>
                        <br>

                        <p></p>
                        <textarea name="note" style="width:400px;height:120px;" rows="40" cols="50" id="content" placeholder="備註，可選填">{% if object.note %}{{ object.note }}{% endif %}</textarea>

                        <br>


                        <input type="submit" id="sub" value="新增至我的衣櫃" class="submit" style="background-color: #551a3e;">
                    </form>


                    <script>
                        var button = document.querySelector('.submit');
                        var showtxt = document.querySelector('.show');

                        function popup(e) {
                            if ( window.confirm('確定要新增至衣櫃嗎?') == true) {
                                showtxt.innerHTML = '新增成功';
                            } else {
                                showtxt.innerHTML = '已取消新增';
                            }

                        };
                        button.addEventListener('click', popup);
                    </script>
                    <!-- 後端立即上傳用的 js -->
                    <script>
                        $("input[name='image']").change(function() {
                            $('.loadingdiv').show();
                            this.form.submit();
                        });
                    </script>
            </div>
        </div>
    </body>
</html>
