{% load static %}
<html>
    <head>
        <title> TELApathy Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="{% static '{% static 'css/Forgot Password.css">
    </head>
    <body bgcolor="#C4B2BC">
        <form action="{% url 'forgetPassword' %}" method="post" class="pure-form pure-form-stacked">{% csrf_token %}
           <div class="content-title">

            <img src="{% static '{% static 'images/TELApathy logo2.png' %}' %}" width="400" height="200">

                <div class="login-form">
                      <fieldset>
                        <legend>Forgot Password</legend>
                        <label for="email">輸入原帳號E-mail*</label>
                        <input id="email" name="email" type="email" placeholder="Email" >
                        <input type="submit" value="寄出驗證信" class="pure-button-primary">
					  </fieldset>
					<h5 onclick="show_hide()"><a href="{% url 'login' %}">返回</a></h5>
                </div>
           </div>
        </form>
    </body>
</html>

