{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Write a Post</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
            <section class="top-bar">
                <a class="tabs__btn" href="{% url 'secondhand' %}">
                    <img class="tabs__btn__icon" src="{% static 'images/icon-svg/angle-left.svg' %}" alt="arrow_back_ios">
                </a>
            </section>


            <div id="container_background">
                    <font size="5"><h3>二手拍上架</h3></font>

                    <section class="closet_switchBar">
                        <button class="tabs__btn"  onclick="window.location.href='WritePosts.html'">
                            <img class="tabs__btn__icon" src="{% static 'images/icon-svg/post.svg' %}" alt="Post">
                        </button>
                        <button class="tabs__btn--active">
                            <img class="tabs__btn__icon" src="{% static 'images/icon-svg/sale.svg' %}" alt="Sell">
                        </button>
                    </section>
                    <br>
                    <form>
                        <section>
                            <img id="photo" src="{% static 'images/plus.png' %}" style="width: 15rem" />
                            <input id="photo" type="file" accept="image/*" class="fileInput" multiple=""/>
                        </section>

                        <script src="https://code.jquery.com/jquery-3.1.0.{% static 'js' %}"></script>
                        <script>

                            $('input').on('change', function(e){
                            const file = this.files[0];
                            const objectURL = URL.createObjectURL(file);

                            $("#photo").attr('src', objectURL);
                            });

                        </script>


                    <p></p>
                    NT: &nbsp;<input type="number" ondrop="return false;" onpaste="return false;" >元
                    <br>

                    <select name="使用程度" class="sttyle" style="border:1px rgb(199, 199, 199) solid;">
                        <option>使用程度</option>
                        <option value="0">Well-used</option>
                        <option value="50">Used</option>
                        <option value="100">New</option>
                    </select>
                     <br>

                    <textarea name="商品簡介" style="width:400px;height:120px;" rows="40" cols="50" id="content">介紹一下商品吧!</textarea>
                    <br>

                    <textarea name="標籤" style="width:400px;height:30px;" rows="20" cols="50" id="content">#Hashtag #Clothes #Style</textarea>
                    <br>

                    <input type="submit" id="sub" value="上架" class="submit" style="background-color: #551a3e;">


                    <script>
                        var button = document.querySelector('.submit');
                        var showtxt = document.querySelector('.show');

                        function popup(e) {
                            if ( window.confirm('確定要上架這件衣物嗎?') == true) {
                                showtxt.innerHTML = '上架成功';
                            } else {
                                showtxt.innerHTML = '已取消上架';
                            }

                        };
                        button.addEventListener('click', popup);
                    </script>

                    </form>
            </div>
        </div><br><br><br><br><br>

        <section class="bottom-bar">
            <button style="border:none;" class="bottom-bar__btn" >
            <a href="index.html"><img src="{% static 'images/icon-svg/home.svg' %}" class="bottom-bar__btn__icon" alt="home icon"></a>
            </button>
        <button style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
                  <a href="MyCloset.html"><img src="{% static 'images/tshirt.PNG' %}" class="bottom-bar__btn__icon" alt="clothes icon"></a>
            </button>
            <button style="border:none;" class="bottom-bar__btn">
                <a href="Recommend.html"><img src="{% static 'images/icon-svg/bulb.svg' %}" class="bottom-bar__btn__icon" alt="advise icon"> </a>
            </button>
            <button style="border:none;" class="bottom-bar__btn">
                <a href="Setting.html"><img src="{% static 'images/icon-svg/settings.svg' %}" class="bottom-bar__btn__icon" alt="setting icon"> </a>
            </button>
            <button style="border:none;" class="bottom-bar__btn">
                <a href="profile.html"><img src="{% static 'images/jieyu.jpeg' %}" class="bottom-bar__btn__icon1" alt="profile picture"> </a>
            </button>
        </section>

    </body>
</html>
