
<html> 

    <head>
        <title> TELApathy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="static/css/Ins.css">
        
    </head>

    <body>
        <nav class="navbar">
            <div class="nav-wrapper">
                <img src="static/img/telapathy1.jpg" class="brand-img" alt="">
                <input type="text" class="search-box" placeholder="search" style="width:20%">
                <div class="nav-items">
                    <img src="static/img/add.PNG" class="icon" alt="">
                    <div class="icon user-profile"></div>
                </div>
            </div>
        </nav>

        

        <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"> <img src="static/img/me.jpg" alt=""> </div>
                            <p class="username">yu._.estela</p>
                        </div>
                        <img src="static/img/option.PNG" class="options" alt="">
                     </div>
                    <img src="static/img/member.jpeg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="static/img/heart.svg" class="icon" alt="">
                            <img src="static/img/comment.PNG" class="icon" alt="">
                            <img src="static/img/send.PNG" class="icon" alt="">
                            <img src="static/img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">everyone likes</p>
                        <p class="description"><span>yu._.estela </span> Amber's kids❤️🧡💛💚💙💜<br>#NCCUMIS #彥君 #AmberChou</p>
                        <p class="post-time">2 months ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="static/img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="static/img/cover 2.png" alt=""></div>
                            <p class="username">hsun_lei_ha</p>
                        </div>
                        <img src="static/img/option.PNG" class="options" alt="">
                    </div>
                    <img src="static/img/leiha.jpg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="static/img/heart.svg" class="icon" alt="">
                            <img src="static/img/comment.PNG" class="icon" alt="">
                            <img src="static/img/send.PNG" class="icon" alt="">
                            <img src="static/img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>hsun_lei_ha </span> 我是雷虫🈴，這是我的晚餐。</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="static/img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
                
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="static/img/jason.jpg" alt=""></div>
                            <p class="username">jason__2592</p>
                        </div>
                        <img src="static/img/option.PNG" class="options" alt="">
                    </div>
                    <img src="static/img/doge.jpeg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="static/img/heart.svg" class="icon" alt="">
                            <img src="static/img/comment.PNG" class="icon" alt="">
                            <img src="static/img/send.PNG" class="icon" alt="">
                            <img src="static/img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">9999 likes</p>
                        <p class="description"><span>jason__2592 </span> Doge Doge. </p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="static/img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="static/img/jieyu.jpeg" alt=""></div>
                            <p class="username">jieyuchen1015</p>
                        </div>
                        <img src="static/img/option.PNG" class="options" alt="">
                    </div>
                    <img src="static/img/jieyu.jpeg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="static/img/heart.svg" class="icon" alt="">
                            <img src="static/img/comment.PNG" class="icon" alt="">
                            <img src="static/img/send.PNG" class="icon" alt="">
                            <img src="static/img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">3064 likes</p>
                        <p class="description"><span>jieyu_chen </span> 南臺灣水姑娘。 </p>
                        <p class="post-time">3 weeks ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="static/img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="static/img/plack.jpg" alt=""></div>
                            <p class="username">plack0831</p>
                        </div>
                        <img src="static/img/option.PNG" class="options" alt="">
                    </div>
                    <img src="static/img/plack.jpg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="static/img/heart.svg" class="icon" alt="">
                            <img src="static/img/comment.PNG" class="icon" alt="">
                            <img src="static/img/send.PNG" class="icon" alt="">
                            <img src="static/img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">456 likes</p>
                        <p class="description"><span>plack0831 </span> 怕周球。 </p>
                        <p class="post-time">7 hours ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="static/img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>

            
            </div>
        </div>
        </section>

        <section class="bottom-bar">
            <button style="border:none;" class="bottom-bar__btn" >
              <img src="static/img/home.svg" class="bottom-bar__btn__icon" alt="home icon">
            </button>
            <button style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
              <img src="static/img/tshirt.PNG" class="bottom-bar__btn__icon" alt="clothes icon">
            </button>
            <button style="border:none;" class="bottom-bar__btn">
              <img src="static/img/idea.png" class="bottom-bar__btn__icon" alt="advise icon"><!-- 待放圖片 --> 
            </button>
            <button style="border:none;" class="bottom-bar__btn">
              <img src="static/img/settings.svg" class="bottom-bar__btn__icon" alt="setting icon">
            </button>
            <button style="border:none;" class="bottom-bar__btn">
              <img src="static/img/me.jpg" class="bottom-bar__btn__icon1" alt="profile picture">
            </button>
        </section>
        

    </body>

</html>
