{% load static %}

<html>

    <head>
        <title> TELApathy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

    <body>
        <section class="navbar">
            <div class="nav-wrapper">
                <img src="{% static 'images/telapathy1.jpg' %}" class="brand-img" alt="">
                <input type="text" class="search-box" placeholder="search" style="width:20%">
                <div class="nav-items">
                    <a href="{% url 'createPost' userPk=user.id %}" class="nav-items">
                        <img src="{% static 'images/icon-svg/add.svg' %}" class="icon" alt="">
                    </a>
                </div>
            </div>
        </section>

        <section class="switchBar">
            <button class="tabs__btn--active">
                <img class="tabs__btn__icon" src="{% static 'images/post.png' %}" alt="Post">
            </button>
            <a href="{% url 'secondhand' %}" class="tabs__btn">
                <img class="tabs__btn__icon" src="{% static 'images/sell.png' %}" alt="Sell">
            </a>
        </section>

        <section class="main">
            <div class="left-col">

                {% for post in object_list reversed %}
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"> <img src="{% static 'images/1.png' %}" alt=""> </div>
                                <p class="username">{{ post.user.username }}</p>
                            </div>
                            <!-- <a href="{% url 'editPost' user.id post.id %}"> -->
                                <!-- <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt=""> -->
                            <!-- </a> -->
                            <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                         </div>
                        <a href="{% url 'viewPost' postPk=post.id %}">
                            <img src="{{ post.image.url }}" class="post-image" alt="">
                        </a>
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <form action="" method="post"> {% csrf_token %}
                                    <input type="hidden" value="{{ post.id }}" name="post_id">
                                    <input type="hidden" value="1" name="like">
                                    <input type="image" src="{% static 'images/icon-svg/heart.svg' %}" class="outfit-icon" style="width: 1.5rem;" alt="Like">
                                </form>
                                <a href="{% url 'viewComment' postPk=post.id %}">
                                    <img src="{% static 'images/icon-svg/comment.svg' %}" class="outfit-icon" style="width: 1.5rem;" alt="Comment">
                                </a>
                                <form action="" method="post"> {% csrf_token %}
                                    <input type="hidden" value="{{ post.id }}" name="post_id">
                                    <input type="hidden" value="1" name="followed">
                                    <input type="image" src="{% static 'images/icon-svg/bookmark.svg' %}" class="outfit-icon" style="width: 1.5rem;" alt="Save">
                                </form>
                            </div>
                            <p class="likes">{{ post.likes.count }}</p>
                            <font size="4"><span style="font-weight:bold;">{{ post.user.username }}</span>{{ post.content }}<br>{{ post.title }}</font>
                            <p class="post-time">{{ post.time }}</p>
                        </div>
                        {% for comment in post.comments.all %}
                        <div class="comment-wrapper">
                            <div class="info">
                                    <div class="user">
                                         <div class="profile-pic"><img src="images/money.png" alt=""></div>
                                     </div>
                                     <p class="username1">{{ comment.user.username }}</p>
                                     <p class="post-words">{{ comment.text }}</p>
                             </div>
                            <button class="comment-btn">{{ comment.time }}</button>
                        </div>
                        {% endfor %}
                        <form action="" method="post"> {% csrf_token %}
                            <div class="comment-wrapper">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                                <input type="text" name="comment" class="comment-box" placeholder="Add a comment">
                                <input type="submit" value="post" class="comment-btn">
                            </div>
                        </form>
                        <br>
                    </div>
                {% endfor %}

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"> <img src="{% static 'images/1.png' %}" alt=""> </div>
                            <p class="username">yu._.estela</p>
                        </div>
                        <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                     </div>
                    <img src="{% static 'images/member.jpeg' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/icon-svg/heart.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/comment.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/paper-plane.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/bookmark.svg' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">everyone likes</p>
                        <font size="4"><span style="font-weight:bold;">yu._.estela</span> ❤️🧡💛💚💙💜<br>#NCCUMIS #彥君 #AmberChou</font>
                        <p class="post-time">2 months ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                    <br>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/money.png' %}" alt=""></div>
                            <p class="username">hsun_lei_ha</p>
                        </div>
                        <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                    </div>
                    <img src="{% static 'images/leiha.jpg' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/icon-svg/heart.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/comment.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/paper-plane.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/bookmark.svg' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <font size="4"><span style="font-weight:bold;">hsun_lei_ha</span> 我是雷虫🈴，這是我的晚餐。</font>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                    <br>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/jason.jpg' %}" alt=""></div>
                            <p class="username">jason__2592</p>
                        </div>
                        <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                    </div>
                    <img src="{% static 'images/doge.jpeg' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/icon-svg/heart.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/comment.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/paper-plane.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/bookmark.svg' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">9,999 likes</p>
                        <font size="4"><span style="font-weight:bold;">jason__2592</span> Doge Doge.</font>
                        <p class="post-time">10 days ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                    <br>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/jieyu.jpeg' %}" alt=""></div>
                            <p class="username">jieyuchen1015</p>
                        </div>
                        <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                    </div>
                    <img src="{% static 'images/jieyu.jpeg' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/icon-svg/heart.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/comment.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/paper-plane.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/bookmark.svg' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">3,064 likes</p>
                        <font size="4"><span style="font-weight:bold;">jieyu_chen</span> 南臺灣水姑娘。</font>
                        <p class="post-time">3 weeks ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                    <br>
                </div>

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/plack.jpg' %}" alt=""></div>
                            <p class="username">plack0831</p>
                        </div>
                        <img src="{% static 'images/icon-svg/menu-dots.svg' %}" class="options" alt="">
                    </div>
                    <img src="{% static 'images/plack.jpg' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/icon-svg/heart.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/comment.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/paper-plane.svg' %}" class="icon" alt="">
                            <img src="{% static 'images/icon-svg/bookmark.svg' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">456 likes</p>
                        <font size="4"><span style="font-weight:bold;">plack0831</span> 怕周球。</font>
                        <p class="post-time">7 hours ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                    <br>
                    <br>

                </div>


            </div>
        </div>
        </section>

        <section class="bottom-bar">
            <a href="{% url 'home' %}" style="border:none;" class="bottom-bar__btn" >
              <img src="{% static 'images/icon-svg/home.svg' %}" class="bottom-bar__btn__icon" alt="home icon">
            </a>
            <a href="{% url 'clothe' user.id %}" style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
              <img src="{% static 'images/tshirt.PNG' %}" class="bottom-bar__btn__icon" alt="clothes icon">
            </a>
            <a href="{% url 'recommend' %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/icon-svg/bulb.svg' %}" class="bottom-bar__btn__icon" alt="advise icon">
            </a>
            <a href="{% url 'editUser' user.id %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/icon-svg/settings.svg' %}" class="bottom-bar__btn__icon" alt="setting icon">
            </a>
            <a href="{% url 'profile' user.id %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/1.png' %}" class="bottom-bar__btn__icon1" alt="profile picture">
            </a>
        </section>


    </body>


</html>
