{% extends 'app/Base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    Closet
{% endblock %}

{% block closet_name %}
    我的衣櫃
{% endblock %}

{% block header_right %}
    <a href="{% url 'createClothe' closetPk=user_closets.first.id %}">
        <img class="icon" src="{% static 'images/icon-svg/add_white.png' %}">
    </a>
{% endblock %}

{% block head_bar_title %}
    單品
{% endblock %}

{% block head_bar_left %}
    <a href="GoodManage.html">
        <img src="{% static 'images/icon-svg/management.png' %}" class="titlee33">
    </a>
{% endblock %}

{% block head_bar_right %}
    <a href="{% url 'outfit' closetPk=user_closets.first.id %}">
        <div class="titlee2">>>穿搭</div>
    </a>
{% endblock %}

{% block content %}
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/26.jpg' %}" class="block1">
            <div class="word1">T-Shirt</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/20.jpeg' %}" class="block2">
            <div class="word2">襯衫</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/24.jpeg' %}" class="block3">
            <div class="word3">短褲</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/28.jpg' %}" class="block4">
            <div class="word4">長褲</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/24.jpeg' %}" class="block5">
            <div class="word5">裙子</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/27.jpg' %}" class="block6">
            <div class="word6">洋裝</div>
        </img>
    </a>
    
    <a href="{% url 'single_clothe' closetPk=user_closets.first.id typePk=types.first.id %}">
        <img src="{% static 'images/1234.jpeg' %}" class="block7">
            <div class="word7">鞋子</div>
        </img>
    </a>
{% endblock %}