{% extends 'app/Base.html' %}
{% load static %}

{% block title %}
    My Outfits
{% endblock %}

{% block closet_name %}
    我的衣櫃
{% endblock %}

{% block head_bar_title %}
    穿搭
{% endblock %}

{% block head_bar_left %}
    <a href="{% url 'clothe' closetPk=user_closets.first.id %}">
        <div class="titlee3"> 單品<<  
        </div>
    </a>
{% endblock %}

{% block head_bar_right %}
    <a href="{% url 'savedOutfit' closetPk=user_closets.first.id %}">
        <img src="{% static 'images/save-.png' %}" class="icon4">
    </a>
{% endblock %}

{% block content %}
        
        {% for post in posts %}
            <a href="{% url 'viewPost' postPk=post.id %}">
                <div class="block1">
                    <div class="word1">
                        {{ post.time }} <br>
                        {{ post.title }}
                    </div>
                </div>
            </a>
        {% endfor %}

            <div class="block2">
                <div class="word2">
                    穿搭命名
                </div>
            </div>

            <div class="block3">
                <div class="word3">
                    穿搭命名
                </div>
            </div>

            <div class="block4">
                <div class="word4">
                    穿搭命名
                </div>
            </div>

            <div class="block5">
                <div class="word5">
                    穿搭命名
                </div>
            </div>

            <div class="block6">
                <div class="word6">
                    穿搭命名
                </div>
            </div>

{% endblock %}
