<html> 

    <head>
        <title> Post Page </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/style.css">
        
    </head>

    <body>
        <section class="top-bar">
            <button class="tabs__btn">

                <a href="profile.html"><img class="tabs__btn__icon" src="images/back.svg" alt="arrow_back_ios"></a> 

            </button> 
        </section>

            <div class="postP">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/jieyu.jpeg" alt=""></div>
                        <p class="username">{{ post.user.username }}</p>
                    </div>
                    {% if user == post.user %}
                        <img src="images/icon-svg/menu-dots.svg" class="options" alt="" id="show">
                    {% endif %}
                    <dialog id="infoModal">
                        <a href="{% url 'editPost' userPk=user.id postPk=post.id %}"><p><h3>編輯貼文</h3></p></a>
                        <hr size="1px" color="gray" align="center" width="100%">
                        <form action="" method="post">
                            <input type="hidden" value="{{ post.id }}" name="post_id">
                            <p><h3><input type="submit" value="刪除貼文"></h3></p>
                        </form>
                        <button id="close">取消</button>
                      </dialog>
                    <script>
                        let img=document.querySelector("#show");
                        let infoModal=document.querySelector("#infoModal");
                        let close=document.querySelector("#close");
                        img.addEventListener("click", function(){
                             infoModal.showModal();
                        })
                        close.addEventListener("click", function(){
                             infoModal.close();
                        })
                    </script>

                </div>
                <img src="{{ post.image.url }}" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="images/icon-svg/heart.svg" class="icon" alt="">
                        <img src="images/icon-svg/comment.svg" class="icon" alt="">
                        <img src="images/icon-svg/bookmark.svg" class="save icon" alt="">
                    </div>
                    <p class="likes">3,064 likes</p>
                    <font size="4"><span style="font-weight:bold;">{{ post.user.username }}</span>{{ post.content }}</font>
                    <p class="post-time">{{ post.time }}</p>
                </div>
                <div class="comment-wrapper">
                    <div class="info">
                        {% for comment in post.comments.all %}
                            <div class="user">
                                 <div class="profile-pic"><img src="images/money.png" alt=""></div>
                             </div>
                             <p class="username1">{{ comment.user.username }}</p>
                             <p class="post-words">{{ comment.text }}</p>
                         {% endfor %}
                     </div>
                    <button class="comment-btn">{{ comment.time }}</button>
                </div>
                <div class="comment-wrapper">
                    <img src="images/icon-svg/smile-beam.svg" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
                <form action="" method="post"> {% csrf_token %}
                    <div class="comment-wrapper">
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <img src="{% static 'images/icon-svg/smile-beam.svg' %}" class="icon" alt="">
                        <input type="text" name="comment" class="comment-box" placeholder="Add a comment">
                        <input type="submit" value="post" class="comment-btn">
                    </div>
                </form>
                <br>

    </body>
</html>
                    