{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile Edit</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
            <section class="top-bar">
                <a href="{% url 'home' %}" class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/back.svg' %}" alt="arrow_back_ios">
                </a>
            </section>

            <div id="container1">
                <font size="5"><h3>編輯個人檔案</h3></font>
                <div class="img-holder" style="background-image: url('{% get_media_prefix %}/{{ user.profile_picture }}');">
                </div>
                <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <input name="profile_picture" style="border:1px white solid;" type="file" id="file" accept="images/*" class="images_btn">
                    <label for="file"></label>
                    <input type="text" name="nickname" id="username" value="{{ object.nickname }}" class="likeinput">
                    <textarea name="biography" style="border:1px rgb(199, 199, 199) solid;" rows="30" cols="50" id="content" {% if not object.biography %}placeholder="請在此輸入你的簡介"{% endif %}>{% if object.biography %}{{ object.biography }}{% endif %}</textarea>
                    <br/>
                    <input type="submit" id="sub" value="保存" class="submit" class="likeinput" onclick="location.href='#'">
                    <br/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
