{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Profile</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
            <section class="top-bar">
                <a href="{% url 'home' %}" class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/icon-svg/angle-left.svg' %}" alt="arrow_back_ios">
                </a>
            </section>

            <section class="stats">
                <div class="stats__img-holder" style="background-image: url('{% get_media_prefix %}/{{ user.profile_picture }}');">
                </div>
                    <div class="stats__data">
                        <div class="stats__data__point">
                            <div class="stats__data__point__value">9</div>
                            <div class="stats__data__point__description">Posts</div>
                        </div>
                        <div class="stats__data__point">
                            <div class="stats__data__point__value">317</div>
                            <div class="stats__data__point__description">Followers</div>
                        </div>
                        <div class="stats__data__point">
                            <div class="stats__data__point__value">225</div>
                            <div class="stats__data__point__description">Following</div>
                        </div>
                    </div>
            </section>

            <section class="description">
                <h1 class="decription__title">{{ user.nickname }}</h1>
                    <p>
                     {% if user.biography %}{{ user.biography }}{% endif %}
                    </p>
                    <p style="color:red;">
                        <img class="money" src="{% static 'images/money.png' %}" alt="My Wallet">
                        {% if user.wallet_set.first %}{{ user.wallet_set.first.balance }}{% else %}0{% endif %}$
                    </p>
            </section>

            <section class="actions">
                <a href="{% url 'editUser' user.id %}" button class="actions__btn">Edit My Profile</a>
            </section>

            <section class="tabs">
                <button class="tabs__btn--active">
                    <img class="tabs__btn__icon" src="{% static 'images/post.png' %}" alt="Post">
                </button>
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/sell.png' %}" alt="Sell">
                </button>
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/save.png' %}" alt="Save">
                </button>
            </section>

            <section class="grid">
                {% for post in object_list %}
                    <a href="{% url 'singlePost' user.id post.id %}" class="grid__photo" style="background-image: url('{% get_media_prefix %}/{{ post.image }}');"></a>
                {% endfor %}
            </section>

            <section class="bottom-bar">
                <a href="{% url 'home' %}" style="border:none;" class="bottom-bar__btn" >
                  <img src="{% static 'images/icon-svg/home.svg' %}" class="bottom-bar__btn__icon" alt="home icon">
                </a>
                <a href="{% url 'clothe' user.id %}" style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
                  <img src="{% static 'images/tshirt.PNG' %}" class="bottom-bar__btn__icon" alt="clothes icon">
                </a>
                <a href="{% url 'recommend' %}" style="border:none;" class="bottom-bar__btn">
                  <img src="{% static 'images/icon-svg/bulb.svg' %}" class="bottom-bar__btn__icon" alt="advise icon">
                </a>
                <a href="{% url 'editUser' user.id %}" style="border:none;" class="bottom-bar__btn">
                  <img src="{% static 'images/icon-svg/settings.svg' %}" class="bottom-bar__btn__icon" alt="setting icon">
                </a>
                <a href="{% url 'profile' user.id %}" style="border:none;" class="bottom-bar__btn">
                  <img src="{% static 'images/1.png' %}" class="bottom-bar__btn__icon1" alt="profile picture">
                </a>
            </section>
        </div>
    </body>

</html>
