{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile Edit</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container"> 
            <section class="top-bar">
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/back.png' %}" alt="arrow_back_ios"> 
                </button> 
            </section>

            <div id="container1">  
                    <font size="5"><h3>編輯個人檔案</h3></font> 
                    <div class="img-holder" style="background-image: url('{% static 'images/me.png');' %}">  
                    </div>
                    <input style="border:1px white solid;" type="file" id="file" accept="{% static 'images/*' %}" class="likeinput">
                    <label for="file"></label>
                    <input type="text" name="" id="username" placeholder="Jie-Yu, Chen" class="likeinput">
                    <textarea style="border:1px rgb(199, 199, 199) solid;" rows="30" cols="50" id="content"> My Daily Life. OOTD sharing!</textarea>
                    <br>
                    <input type="submit" id="sub" value="保存" class="submit" class="likeinput" onclick="location.href='https://codepen.io/rosewang0303/full/OQbLBv/'">
                    </br>
                    </div>
            </div>            
        </div>
    </body>
</html> 