{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
            <title>Search Goods</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    
    <body>
        <div class="containerrr">
            <div class="mycloset">
                探索商品
            </div>
            
            <img src="{% static 'images/shopping-cart.png' %}" class="icon2">
            
            <a href="{% url 'clothe' closetPk=user.id %}">
                <img src="{% static 'images/icon-svg/home.png' %}" class="icon3">
            </a>

            <input type="text" name="" id="username" placeholder="  搜尋" class="likeinput5">

            <div class="buybox"></div>
            <div class="goodword">清新橘色方領上衣</div>
            <img src="{% static 'images/14.jpeg' %}" class="pic1">
            <img src="{% static 'images/add-to-cart.png' %}" class="addcart">
            
            <div class="buybox1">
            </div>
            <div class="goodword1">黑色緊身方領上衣</div>
            <img src="{% static 'images/15.jpeg' %}" class="pic2">
            <img src="{% static 'images/add-to-cart.png' %}" class="addcart1">