{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Setting</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container"> 
            <section class="top-bar">
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/back.png' %}" alt="arrow_back_ios"> 
                </button> 
            </section>

            <div id="setting_container">  
                <font size="5"><h3>設定</h3></font> 

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                    <br> 通知設定
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改基本資料
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改帳號
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改密碼
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 登出
                    </div> 
                </div>

                <br>

            </div>
        </div>

        <section class="bottom-bar">
            <button onclick="window.location.href='/'" style="border:none;" class="bottom-bar__btn" >
              <img src="{% static 'images/home.svg' %}" class="bottom-bar__btn__icon" alt="home icon">
            </button>
            <button onclick="window.location.href='/clothes'" style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
              <img src="{% static 'images/tshirt.PNG' %}" class="bottom-bar__btn__icon" alt="clothes icon">
            </button>
            <!-- TODO change button link -->
            <button onclick="window.location.href='/recommend'" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/idea.png' %}" class="bottom-bar__btn__icon" alt="advise icon"> 
            </button>
            <!-- TODO change button link -->
            <button onclick="window.location.href='/usersetting'" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/settings.svg' %}" class="bottom-bar__btn__icon" alt="setting icon">
            </button>
            <button onclick="window.location.href='/profile'" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/1.png' %}" class="bottom-bar__btn__icon1" alt="profile picture">
            </button>
        </section>
    </body>
</html> 