{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Setting</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container"> 
            <section class="top-bar">
                <button class="tabs__btn">
                    <img class="tabs__btn__icon" src="{% static 'images/icon-svg/angle-left.svg' %}" alt="arrow_back_ios"> 
                </button> 
            </section>

            <div id="setting_container">  
                <font size="5"><h3>設定</h3></font> 

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                    <br> 通知設定
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改基本資料
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改帳號
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 修改密碼
                    </div> 
                </div>

                <br>

                <div id="setting_choiceBar">
                    <div class="setting_choiceBar_text"
                        <br> 登出
                    </div> 
                </div>

                <br>

            </div>
        </div>

        <section class="bottom-bar">
            <a href="{% url 'home' %}" style="border:none;" class="bottom-bar__btn" >
              <img src="{% static 'images/icon-svg/home.svg' %}" class="bottom-bar__btn__icon" alt="home icon">
            </a>
            <a href="{% url 'clothe' user.id %}" style="border:none;" class="bottom-bar__btn bottom-bar__btn--active">
              <img src="{% static 'images/tshirt.PNG' %}" class="bottom-bar__btn__icon" alt="clothes icon">
            </a>
            <a href="{% url 'recommend' %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/icon-svg/bulb.svg' %}" class="bottom-bar__btn__icon" alt="advise icon"> 
            </a>
            <a href="{% url 'editUser' user.id %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/icon-svg/settings.svg' %}" class="bottom-bar__btn__icon" alt="setting icon">
            </a>
            <a href="{% url 'profile' user.id %}" style="border:none;" class="bottom-bar__btn">
              <img src="{% static 'images/1.png' %}" class="bottom-bar__btn__icon1" alt="profile picture">
            </a>
        </section>
    </body>
</html> 