{% extends 'app/Base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    T-Shirt
{% endblock %}

{% block closet_name %}
    我的衣櫃
{% endblock %}

{% block head_bar_title %}
    T-Shirt
{% endblock %}

{% block head_bar_left %}
    <a href="{% url 'clothe' closetPk=user_closets.first.id %}">
        <img src="{% static 'images/icon-svg/arrow_left.png' %}" class="icon5">
    </a>
{% endblock %}

{% block content %}
            <div class="addnew">近期新增</div>

            <div class="imageList" >
                <br>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% for clothe in clothes %}
                <button>
                    <a href="{% url 'viewClothe' closetPk=user_closets.first.id clothePk=clothe.id %}">
                        <img src="{{ clothe.image.url }}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/20.jpeg' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/26.jpg' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br> <br>
            </div>      
                    <img src="{% static 'images/bag.png' %}" class="buyicon"> <!--出不來-->
            
            <div class="addnew2">已上架</div>
            <div class="imageList2" >
                <br>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/13.jpeg' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/20.jpeg' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/26.jpg' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button>
                    <a href="BrowseOneClothes.html">
                    <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                    </a>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br> <br>
            </div>      
                    <img src="{% static 'images/bag.png' %}" class="buyicon"> <!--出不來-->
                    
                    <div class="addnew3">自訂分類</div>
                    <div class="imageList3" >
                        <br>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>
                            <a href="BrowseOneClothes.html">
                            <img src="{% static 'images/13.jpeg' %}" style="width:20rem; height: 25rem;" />
                            </a>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>
                            <a href="BrowseOneClothes.html">
                            <img src="{% static 'images/20.jpeg' %}" style="width:20rem; height: 25rem;" />
                            </a>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>
                            <a href="BrowseOneClothes.html">
                            <img src="{% static 'images/26.jpg' %}" style="width:20rem; height: 25rem;" />
                            </a>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>
                            <a href="BrowseOneClothes.html">
                            <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                            </a>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>
                            <a href="BrowseOneClothes.html">
                            <img src="{% static 'images/clothes.png' %}" style="width:20rem; height: 25rem;" />
                            </a>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br> <br>
                    </div>      
                            <img src="{% static 'images/bag.png' %}" class="buyicon"> <!--出不來-->
{% endblock  %}